body {
    font-family: 'Raleway';
    font-weight: 1;
    font-style: normal;
    background-color: rgb(23, 23, 23);
    color: white;
    margin-bottom: 0px !important;
}

.landing_logo {
    border-radius: 50%;
    width: auto;
    height: 26vh;
}

.companyLogo {
    width: 26vh;
    height: auto;
}

strong {
    font-weight: 900;
}

.certificates {
    font-size: 16px;
}

.certTitle {
    font-size: 23px;
}

#firstname, #lastname {
    font-size: 46px;
    color: white;
    text-transform: uppercase;
    font-weight: 0;
}

#title {
    margin: 1vh 0px;
}

#socialmedia {
    margin: 1vh 0px;
}

#about_me {
    font-size: 16px;
    color: white;
}

#lastname, #fullname {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
}

body .container {
    background-color: rgb(38, 38, 38);
}

a {
    color: white;
}

#footer {
    color: white;
}

.view {
    max-width: 46%;
    margin: 0px auto;
}

.container {
    box-sizing: border-box;
    border: 0px solid rgb(0, 0, 0);
}


#projectView {
    max-width: 76%;
    margin: 0px auto;
    box-sizing: border-box;
    border: 0px solid rgb(0, 0, 0);
    display: block;
}

.project {
    margin-bottom: 3rem;
}

.projectCover {
    max-width: 66%;
    max-height: 66%;
    border-radius: 30px;
}

.projectThumbnail {
    display: inline-block;
    max-width: 66%;
    max-height: 16%;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#reelVideo {
    vertical-align: middle;
    horiz-align: center;
    display: block;
    margin: 0 3rem;
    border-style: none;
    background-color: black;
}

#quick_links {
    font-size: 2rem;
}

#store_links {
    font-size: 3rem;
}

#socialmedia a:hover {
    color: rgb(222, 222, 222);
}

.tabViewSection {
    vertical-align: middle;
    horiz-align: center;
}

.border {
    border-width: thin;
    border-color: white;
    max-width: 90%;
    margin: 2vh auto;
}

#about_me {
    max-width: 79%;
}

.btn-4 {
    font-size: 30px;
    margin-top: 1vh !important;
    margin-bottom: 1vh !important;
}

.btn-5 {
    font-size: 30px;
}

.btn-6 {
    font-size: 26px;
}

.btn {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    cursor: pointer;
    vertical-align: middle;
    horiz-align: center;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    max-width: 160px;
    line-height: 45px;
    width: 100%;
}

.btn:hover {
    background-color: rgb(19, 19, 19);
}

.menuBtn {
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.sectionTitle {
    font-family: 'Raleway';
    font-weight: bolder;
    font-style: normal;
    font-size: 4vh;
    text-transform: uppercase;
}

ul .courses {
    padding: 0;
}

header {
    width: 100%;
    height: 0vh;
    top: 0px;
}

nav {
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    background: rgb(38, 38, 38, 1);
    color: white;
    overflow: hidden;
    text-align: center;
    margin: 0;
    transition: 0.4s;
}

nav.black ul {
    background: black;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    z-index: 10000;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #101010;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#careerView {
    color: white;
}

.workTableCell {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
}

.workTableCell.fadeIn {
    opacity: 1;
    transform: translateY(0);
}

.workTitle {
    text-align: center;
    color: white;
    font-size: 26px;
}

.workTitle-small {
    text-align: center;
    color: white;
    font-size: 24px;
}

.workImage {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.workParagraph {
    text-align: center;
    color: white;
    font-size: 23px;
}

.workParagraph-small {
    text-align: center;
    color: white;
    font-size: 19px;
}

.workSubParagraph {
    text-align: center;
    font-size: 16px;
}

.workImg {
    width: auto;
    max-width: 200px;
}